VITE_SUPABASE_URL=https://hmibbyohntjqcybjyepe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtaWJieW9obnRqcWN5Ymp5ZXBlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2NzM4MTEsImV4cCI6MjEwMDI0OTgxMX0.T7d14RGN-H2-h_1Q2P3PfWrLCx773ABaw2Ir3vW1nEA
